[Unit]
Description=Nextcloud cron.php job

[Service]
User=www-data
ExecStart=/usr/bin/php -f /var/www/owncloud/cron.php

[Install]
WantedBy=basic.target
