[Desktop Entry]
Name=Final Minetest Update
GenericName=Final Minetest Update
Comment=Update the game.
Comment[de]=Aktualisiere das Spiel.
Comment[es]=Actualiza el juego.
Comment[fr]=Mettre à jour le jeu.
Comment[ja]=ゲームを更新します。
Comment[ru]=Обнови игру.
Comment[tr]=Oyunu güncelle.
Exec=/home/owner/git/linux-preinstall/everyone/minetest-nonroot.sh
Icon=minetest
Terminal=true
Type=Application
Categories=Game;Simulation;
StartupNotify=false
Keywords=sandbox;world;mining;crafting;blocks;nodes;multiplayer;roleplaying;
