[Desktop Entry]
Name=Lubuntu Software Center
Name[ar]=مركز برمجيات لوبونتو
Name[bg]=Лубунту Софтуерен Център
Name[ca]=Centre de programari del Lubuntu
Name[cs]=Centrum softwaru pro Lubuntu
Name[de]=Lubuntu Software-Center
Name[en_AU]=Lubuntu Software Centre
Name[en_CA]=Lubuntu Software Center
Name[en_GB]=Lubuntu Software Centre
Name[es]=Centro de software de Lubuntu
Name[et]=Lubuntu tarkvarakeskus
Name[eu]=Lubunturen software-zentroa
Name[fa]=مرکز نرم افزاری لوبونتو
Name[fi]=Lubuntun sovellusvalikoima
Name[fr]=Logithèque Lubuntu
Name[he]=מרכז התכנה של לובונטו
Name[hr]=Lubuntu software centar
Name[hu]=Lubuntu szoftverközpont
Name[id]=Pusat Perangkat Lunak Lubuntu
Name[it]=Lubuntu Software Center
Name[ja]=Lubuntuソフトウェアセンター
Name[ms]=Pusat Perisian Lubuntu
Name[nl]=Lubuntu softwarecentrum
Name[nn]=Lubuntu Programvaresenter
Name[pl]=Centrum oprogramowania Lubuntu
Name[pt]=Centro de Aplicações do Lubuntu
Name[pt_BR]=Central de Programas do Lubuntu
Name[ru]=Центр приложений Lubuntu
Name[sk]=Centrum softvéru Lubuntu
Name[sl]=Programsko središče Lubuntu
Name[sr]=Лубунтуов софтверски центар
Name[sv]=Lubuntu Mjukvarucenter
Name[te]=లుబుంటు సాఫ్ట్‍వేర్ కేంద్రము
Name[tr]=Lubuntu Yazılım Merkezi
Name[zh_CN]=Lubuntu 软件中心
Name[zh_HK]=Lubuntu 軟件中心
Name[zh_TW]=Lubuntu 軟體中心
GenericName=Software Center
GenericName[ar]=مركز برمجيات
GenericName[bg]=Софтуерен център
GenericName[bs]=Softverski centar
GenericName[ca]=Centre de programari
GenericName[cs]=Centrum softwaru
GenericName[de]=Software-Center
GenericName[en_AU]=Software Centre
GenericName[en_CA]=Software Center
GenericName[en_GB]=Software Centre
GenericName[es]=Centro de software
GenericName[et]=Tarkvarakeskus
GenericName[eu]=Software-zentroa
GenericName[fa]=مرکز نرم افزاری
GenericName[fi]=Sovellusvalikoima
GenericName[fr]=Logithèque
GenericName[he]=מרכז התכנה
GenericName[hr]=Software centar
GenericName[hu]=Szoftverközpont
GenericName[id]=Pusat Perangkat Lunak
GenericName[it]=Software Center
GenericName[ja]=ソフトウェアセンター
GenericName[ms]=Pusat Perisian
GenericName[nl]=Softwarecentrum
GenericName[nn]=Programvaresenter
GenericName[pl]=Centrum oprogramowania
GenericName[pt]=Centro de Aplicações
GenericName[pt_BR]=Central de Programas
GenericName[ru]=Центр приложений
GenericName[sk]=Centrum softvéru
GenericName[sl]=Programsko središče
GenericName[sr]=Софтверски центар
GenericName[sv]=Mjukvarucenter
GenericName[te]=సాఫ్ట్‍వేర్ కేంద్రము
GenericName[tr]=Yazılım Merkezi
GenericName[zh_CN]=软件中心
GenericName[zh_HK]=軟件中心
GenericName[zh_TW]=軟體中心
Comment=Lets you choose from thousands of applications available for Ubuntu
Comment[ar]=يتيح لك الاختيار من بين آلاف التطبيقات المتوفره ﻹبونتو
Comment[bg]=Позволява ви да изберете от хиляди налични приложения за Убунту.
Comment[bs]=Omogućava vam da odaberete iz hiljada aplikacija dostupnih za Ubuntu
Comment[cs]=Vybírejte z tisíců aplikací dostupných pro Ubuntu
Comment[de]=Lässt Sie aus Tausenden von Anwendungen für Ubuntu auswählen
Comment[en_AU]=Lets you choose from thousands of applications available for Ubuntu
Comment[en_CA]=Lets you choose from thousands of applications available for Ubuntu
Comment[en_GB]=Lets you choose from thousands of applications available for Ubuntu
Comment[es]=Le permite elegir entre miles de aplicaciones disponibles para Ubuntu
Comment[et]=Võimaldab valida tuhandetest saadaolevatest rakendustest
Comment[eu]=Aukeratu Ubunturentzat eskuragarri dauden milaka aplikazioren artean
Comment[fa]=به شما اجازه می‌دهد که از بین هزاران نرم‌افزار موجود برای اوبونتو انتخاب کنید
Comment[fi]=Mahdollistaa valinnan tuhansista Ubuntulle saatavilla olevista sovelluksista.
Comment[fr]=Choisissez parmi des milliers d'applications disponibles pour Ubuntu
Comment[he]=מאפשר לך לבחור מבין אלפי היישומים הזמינים לאובונטו
Comment[hu]=Válogasson az Ubuntuhoz elérhető alkalmazások ezrei közül
Comment[id]=Memungkinkan Anda memilih dari ribuan aplikasi yang tersedia untuk Ubuntu
Comment[it]=Scegli tra migliaia di applicazioni disponibili per Ubuntu.
Comment[ja]=Ubuntu で利用可能な数千ものアプリケーションから選択してみてください
Comment[ms]=Benarkan anda memilih beribu-ribu aplikasi yang tersedia untuk Ubuntu
Comment[nl]=Laat u kiezen uit duizenden toepassingen die beschikbaar zijn voor Ubuntu
Comment[nn]=Lèt deg velja mellom tusenvis av applikasjonar som er tilgjengeleg for Ubuntu
Comment[pl]=Umożliwia zainstalowanie każdego spośród tysięcy programów dostępnych dla Ubuntu
Comment[pt]=Permite-lhe escolher entre as milhares de aplicações disponíveis para o Ubuntu
Comment[pt_BR]=Permite escolher entre milhares de aplicativos disponíveis para o Lubuntu
Comment[ru]=Позволяет вам выбирать из тысяч приложений, доступных для Ubuntu
Comment[sk]=Dovolí vám vybrať si z tisícov aplikácií dostupných pre Lubuntu
Comment[sl]=Omogoča vam izbiro med tisoči programov, ki so na voljo za Lubuntu
Comment[sr]=Омогућава вам да изаберете из хиљада апликација доступних за Убунту
Comment[sv]=Låter dig välja från tusentals program tillgängliga för Ubuntu
Comment[te]=ఉబుంటు కొరకు అందుబాటులో ఉన్న వేల అనువర్తనాల నుంచి మీరే ఎన్నుకోండి
Comment[tr]=Ubuntu için binlerce uygulama içinden seçim yapmanızı sağlar
Comment[zh_CN]=可使您从 Ubuntu 提供的数千种应用程序中进行选择
Comment[zh_HK]=讓您從上成千上萬的 Ubuntu 應用程式選擇
Comment[zh_TW]=讓您從上成千上萬的 Ubuntu 應用程式中選擇
Exec=lubuntu-software-center
Icon=lubuntu-software-center
Terminal=false
Type=Application
Categories=PackageManager;GTK;System;Settings;
StartupNotify=true
Keywords=Sources;PPA;Install;Uninstall;Remove;Catalogue;Store;Apps;Light;Package;
