#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Reconnect Audio
GenericName=Reconnect Audio
Comment=Restart PulseAudio to fix missing HDMI output after Sleep.
Keywords=system;audio;pulseaudio;
# Exec=/usr/local/bin/reconnect-audio.sh
Exec=$LINUX_PREINSTALL/utilities/reconnect-audio.sh
Icon=$LINUX_PREINSTALL/linuxpreinstall/static/audiosinkprobe.png
Terminal=true
Type=Application
Categories=System
Path=
StartupNotify=false
