[Desktop Entry]
Name=Melodyne 4 (32-bit)
Exec=env WINEPREFIX="/home/owner/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/owner/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/Celemony/Melodyne\\ 4\\ \\(32-bit\\)/Melodyne\\ 4\\ \\(32-bit\\).lnk
Type=Application
StartupNotify=true
Icon=9512_Melodyne.0
StartupWMClass=melodyne.exe
