[Desktop Entry]
Name=Help
Exec=env WINEPREFIX="/home/owner/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/owner/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/Solveig\\ Multimedia/SolveigMM\\ Video\\ Splitter\\ Home\\ Edition/Help.lnk
Type=Application
StartupNotify=true
Icon=105D_eng.2
