[Desktop Entry]
Name=WEBMLICENSE.txt
Exec=env WINEPREFIX="/home/owner/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/owner/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/Solveig\\ Multimedia/SolveigMM\\ Video\\ Splitter\\ Home\\ Edition/WEBMLICENSE.txt.lnk
Type=Application
StartupNotify=true
Icon=F960_WEBMLICENSE.0
