#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Xfce App Finder
Comment=Search the application menu.
GenericName=App Finder
Keywords=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
Exec=xfce4-appfinder
Icon=org.xfce.appfinder
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;

