[Desktop Entry]
Type=Application
Name=Mixcraft 5
MimeType=application/x-wine-extension-mx3;
Exec=env WINEPREFIX="/home/owner/.wine" wine start /ProgIDOpen MX3.Document %f
NoDisplay=true
StartupNotify=true
Icon=F3BD_mixcraft5.0
