[Desktop Entry]
Name=Profile Manager
Exec=env WINEPREFIX="/home/owner/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/owner/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/SeaMonkey/Profile\\ Manager.lnk
Type=Application
StartupNotify=true
Path=/home/owner/.wine/dosdevices/c:/Program Files (x86)/SeaMonkey
Icon=A73D_seamonkey.0
