[Desktop Entry]
Name=Craftmania
Exec=env WINEPREFIX="/home/owner/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/owner/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/Acoustica\\ Mixcraft\\ 7\\ \\(32-bit\\)/Craftmania.lnk
Type=Application
StartupNotify=true
Path=/home/owner/.wine/dosdevices/c:/Program Files (x86)/Acoustica Mixcraft 7/Example Projects/Craftmania
Icon=9D66_Craftmania.0
