[Desktop Entry]
Name=It Takes Time
Exec=env WINEPREFIX="/home/owner/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/owner/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/Acoustica\\ Mixcraft\\ 7\\ \\(32-bit\\)/It\\ Takes\\ Time.lnk
Type=Application
StartupNotify=true
Path=/home/owner/.wine/dosdevices/c:/Program Files (x86)/Acoustica Mixcraft 7/Example Projects/It Takes Time
Icon=9D82_It Takes Time.0
